<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>craftsy</title>
</head>

<body>
    <header>
        <div class="home-header-nav">
            <img src="/images/logo.png" alt="logo">

            <nav>
                <ul>
                    <li><a href="">SMARTPHONES</a></li>
                    <li><a href="">TABLET</a></li>
                    <li><a href="">COMPUTADORAS</a></li>

                </ul>

                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Registro</a></li>
                </ul>


            </nav>
        </div>
    </header>

    <main class="">



        <div class="container">

            <div class="cards-tuturial">

                <div class="card-images-tutorial">
                    <div class="images-card">
                        <img src="/images/aside-01.jpg" alt="...">
                    </div>

                    <div class="card-body-tutorial">
                        <h5 class="card-title-tutorial">Titulo del tutorial de reparación</h5>

                    </div>

                </div>

                <div class="card-images-tutorial">
                    <div class="images-card">
                        <img src="/images/aside-02.jpg" alt="...">
                    </div>

                    <div class="card-body-tutorial">
                        <h5 class="card-title-tutorial">Titulo del tutorial de reparación</h5>

                    </div>

                </div>

                <div class="card-images-tutorial">
                    <div class="images-card">
                        <img src="/images/aside-03.jpg" alt="...">
                    </div>

                    <div class="card-body-tutorial">
                        <h5 class="card-title-tutorial">Titulo del tutorial de reparación</h5>

                    </div>

                </div>

                <div class="card-images-tutorial">
                    <div class="images-card">
                        <img src="/images/aside-04.jpg" alt="...">
                    </div>

                    <div class="card-body-tutorial">
                        <h5 class="card-title-tutorial">Titulo del tutorial de reparación</h5>

                    </div>

                </div>

            </div>

            <div class="card">
                <img src="/images/img-phone-01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias possimus
                        magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                    <a href="#" class="botton-card">VER MÁS</a>

                </div>

                <div class="card">
                    <img src="/images/img-phone-02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias
                            possimus
                            magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                        <a href="#" class="botton-card">VER MÁS</a>

                    </div>

                    <div class="card">
                        <img src="/images/img-phone-03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias
                                possimus
                                magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                            <a href="#" class="botton-card">VER MÁS</a>

                        </div>

                        <div class="card">
                            <img src="/images/img-phone-01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias
                                    possimus
                                    magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                                <a href="#" class="botton-card">VER MÁS</a>

                            </div>

                            <div class="card">
                                <img src="/images/img-phone-02.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                                        alias possimus
                                        magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                                    <a href="#" class="botton-card">VER MÁS</a>

                                </div>

                                <div class="card">
                                    <img src="/images/img-phone-03.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">NOMBRE DEL PRODUCTO</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Nisi alias possimus
                                            magni animi nemo quo excepturi reiciendis quasi iste quam?</p>
                                        <a href="#" class="botton-card">VER MÁS</a>

                                    </div>
                                </div>

                            </div>

    </main>

    <footer>

    </footer>

</body>

</html>